@import url('https://fonts.googleapis.com/css?family=Slabo+27px&display=swap');

body {
  background-image: url("https://images.unsplash.com/photo-1585776462170-f6f0e680e1c8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
  font-family: 'Montsera', sans-serif;
  background-repeat: no-repeat;
  background-size: cover;
    color:whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    
}

h3 {
  font-size:40px;
  color: gold;
  text-shadow: 1px 2px black;


}

.grid {

    display: flex;
    flex-wrap: wrap;
    width: 580px;
    height: 615px;
    border: solid black;
    background-color: black;
    background-image: url('assets/Gridelements/blackground.jfif');
    background-position: center center;
    background-size: 600px;
   
}

.grid div {
    width: 20px;
    height: 21.98px;
    align-items: center;
    margin: 0px;
   }

.pac-dot {
box-sizing: border-box;
background-image: url('assets/pacdots.png');
background-position: center;
background-size: 6px;
background-repeat: no-repeat;
}

.teleporterLeftBottom {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('assets/Gridelements/teleporterLeftBottom.gif');
}
.teleporterLeftTop {
  background-position: center;
  background-size: cover;
  background-image: url('assets/Gridelements/teleporterLeftTop.gif');
}

.teleportRightBottom {
  background-position: center;
  background-size: cover;
  background-image: url('assets/Gridelements/teleporterRightBottom.gif');
  margin-top: 0px
}

.teleportRightTop {
  background-position: center;
  background-size: cover;
  background-image: url('assets/Gridelements/teleporterRightTop.gif');
  margin-top: 0px
}

.wall {
  
 border-radius: 6px;
 border-width: 1px;
 background-color: darkblue;
 
}

.power-pellet-paper { 
   
    background-position: center;
    background-size: 15px;
    background-repeat: no-repeat;
    background-image: url('assets/Power-ups/Toilet-paper-up.gif');
}

.power-pellet-hand { 
   
  background-position: center;
  background-size: 20px;
  background-repeat: no-repeat;
  background-image: url('assets/Power-ups/hand-powerup.png');
}

.power-pellet-mask { 
   
  background-position: center;
  background-size: 21px;
  background-repeat: no-repeat;
  background-image: url('assets/Power-ups/mask.gif');
}


.blinky{
  background-position: center;
  background-size: cover;
  background-image: url('assets/Ghosts/blinky.gif');
}

.pinky{
    background-position: center;
    background-size: cover;
    background-image: url('assets/Ghosts/pinky.gif');
}

.inky{
  background-position: center;
  background-size: cover;
  background-image: url('assets/Ghosts/inky.gif');
}
.clyde{
  background-position: center;
  background-size: 22px;
  background-repeat: no-repeat;
  background-image: url('assets/Ghosts/clyde.gif');
}  

.scared-ghosts {
  background-position: center;
  background-size: cover;
  background-image: url('assets/Ghosts/scared ghost.gif');
    }


.pac-man {
 border-radius: 10px;
 background-position: center;
 background-size: cover;
 background-image: url('assets/ClutteredGreatIndianpalmsquirrel-small.gif');
         
    }



