@import url('https://fonts.googleapis.com/css?family=Slabo+27px&display=swap');

body {
  background-image: url("assets/Gridelements/wallpaper.jpg");
  font-family: 'Montsera', sans-serif;
  background-repeat: no-repeat;
  background-size: cover;
  im: 20px;
  color:whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

h3 {
  font-size:40px;
  color: gold;
  text-shadow: 1px 2px black;
  margin-bottom: 0px;
  padding-bottom: 0px;
  
}

.grid {

    display: flex;
    flex-wrap: wrap;
    width: 1080px;
    border: solid black;
    background-color: black;
    background-image: url('assets/Gridelements/blackground.jfif');
    background-position:center;
    background-repeat: no-repeat;
    background-size: 600px;
    margin-bottom: 0px;
    /* zoom:1.3 */
   
}

.grid div {
    width: 30px;
    height: 28px;
    align-items: center;
    
   }

.pac-dot {
box-sizing: border-box;
background-image: url('assets/pacdots.png');
background-position: center;
background-size: 6px;
background-repeat: no-repeat;
}

.teleporterLeftBottom {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('assets/Gridelements/teleporterLeftBottom.gif');
}
.teleporterLeftTop {
  background-position: center;
  background-size: cover;
  background-image: url('assets/Gridelements/teleporterLeftTop.gif');
}

.teleportRightBottom {
  background-position: center;
  background-size: cover;
  background-image: url('assets/Gridelements/teleporterRightBottom.gif');
  margin-top: 0px
}

.teleportRightTop {
  background-position: center;
  background-size: cover;
  background-image: url('assets/Gridelements/teleporterRightTop.gif');
  margin-top: 0px
}

.wall {
  
 border-radius: 6px;
 border-width: 1px;
 background-color: darkblue;
 
}

.power-pellet-paper { 
   
    background-position: center;
    background-size: 20px;
    background-repeat: no-repeat;
    background-image: url('assets/Power-ups/Toilet-paper-up.gif');
}

.power-pellet-hand { 
   
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('assets/Power-ups/hand-powerup.png');
}

.power-pellet-mask { 
   
  background-position: center;
  background-size:cover;
  background-repeat: no-repeat;
  background-image: url('assets/Power-ups/mask.gif');
}

.power-pellet-covid { 
   
  background-position: center;
  background-size:cover;
  background-repeat: no-repeat;
  background-image: url('assets/Power-ups/Covid.png');
}


.blinky{
  background-position: center;
  background-size: 28px;
  background-image: url('assets/Ghosts/blinky.gif');
}

.pinky{
    background-position: center;
    background-size: 30px;
    background-image: url('assets/Ghosts/pinky.gif');
}

.inky{
  background-position: right;
  background-size: 38px;
  background-image: url('assets/Ghosts/inky.gif');
}
.clyde{
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('assets/Ghosts/clyde.gif');
}  

.scared-ghosts {
  background-position: center;
  background-size: cover;
  background-image: url('assets/Ghosts/scared ghost.gif');
    }


.pac-man {
 border-radius: 10px;
 background-position: center;
 background-size: cover;
 background-image: url('assets/ClutteredGreatIndianpalmsquirrel-small.gif');
         
    }



