body {
  background-image: url("https://images.unsplash.com/photo-1585776462170-f6f0e680e1c8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
  font-family: 'Montsera', sans-serif;
  background-repeat: no-repeat;
  background-size: cover;
    color:whitesmoke;
  
}

.grid {

    display: flex;
    flex-wrap: wrap;
    width: 580px;
    height: 580px;
    border: solid black;
    background-color: darkblue;
   
}

.grid div {
    width: 20px;
    height: 20px;
     align-items: center;
    
   }

.pac-dot {

background-color:whitesmoke;
border: 7px solid darkblue;
box-sizing: border-box;
border-radius: 10px
}

.teleportLeft {
  background-image: linear-gradient(to right, red ,darkblue);
}

.teleportRight {
  background-image: linear-gradient(to right,darkblue, red );
}

.wall {
    background-color: #000;
}

.power-pellet { 
    background-color: green; 
    border-radius: 10px;

}

.blinky{
    background-color: red;
    border: 0px;
    border-radius: 100% 100% 0 0;

}

.pinky{
    background-color: pink;
    border: 0px;
    border-radius: 100% 100% 0 0;
}

.inky{
    background-color: cyan;
    border: 0px;
    border-radius: 100% 100% 0 0;
}
.clyde{
    background-color: orange;
    border: 0px;
    border-radius: 100% 100% 0 0;
}

.bob{
  background-color: hotpink;
  border: 0px;
  border-radius: 100% 100% 0 0;

}

.scared-ghosts {
     background-color: aquamarine;
     border: 0px;
     border-radius: 100% 100% 0 0;
    }


    .pac-man {
        background-color: yellow;
       border-radius: 10px;
       animation: chomp 0.15s linear infinite alternate;;
      
    }

/* .pacman__eye {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    top: 20px;
    right: 40px;
    background: #333333;
} */

.pacman-mouth {
    background-color: #000;
    border-radius: 10%;
    clip-path: polygon(100% 74%, 44% 48%, 100% 21%);
    animation-name: eat;
    animation-duration: 0.7s;
    animation-iteration-count: infinite;
  }

  @keyframes chomp {
    from {
      stroke-dasharray: 157,100;
      stroke-dashoffset: 10;
    }
    to {
      stroke-dasharray: 126,100;
      stroke-dashoffset: -15;
    }
  }


  /* @keyframes eat {
    0% {
      clip-path: polygon(100% 74%, 44% 48%, 100% 21%);
    }
    25% {
      clip-path: polygon(100% 60%, 44% 48%, 100% 40%);
    }
    50% {
      clip-path: polygon(100% 50%, 44% 48%, 100% 50%);
    }
    75% {
      clip-path: polygon(100% 59%, 44% 48%, 100% 35%);
    }
    100% {
      clip-path: polygon(100% 74%, 44% 48%, 100% 21%);
    }
  } */